.text-muted
{
    text-align: center;
    font-weight: bold;
}
.row
{
    margin-left: 5px;
}
.footer-middle
{
    color: white;
}
.img-fluid
{
    width:50px;
}
a.social-link
{
    background: white;
    margin: 5px;
    border-radius: 5px;
    transition: .5s;
}
.footer-middle a.social-link
{
color: #3b5998;
}
.a.social-link:hover
{
    background: #3b5998;
    color:white;
}
.title-heading
{
    position: relative;
}
.title-heading:before
{
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    bottom: -5px;
    left:0;
}
















